%h2= "Delete #{@mount_point.name}"

%form{action: user_production_mount_point_path(user_id: @user, production_id: @production, id: @mount_point), method: 'POST'}
  %input{type: 'hidden', name: '_method', value: 'DELETE'}
  %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}

  %p
    = "You really whant to delete mountpoint #{@mount_point.name} in production #{@production.title}?"

  %input{type: 'submit', value: 'Delete'}
