%h3 Required
%label{for: 'login'} Login name:
= f.text_field :login
- unless  params[:action] == 'edit'
  %label{for: 'password'} Password:
  = f.password_field :password
  %label{for: 'password_confirmation'} Password confirmation:
  = f.password_field :password_confirmation

%h3 Optional
%label{for: 'dect'} DECT number:
= f.text_field :dect
%label{for: 'email'} E-Mail:
= f.text_field :email
%label{for: 'village'} Village:
= f.text_field :village
