%h2 Account Overview

%ul.page_menu
  %li
    %a{href: edit_user_path(@user)} edit
  %li
    %a{href: delete_user_path(@user)} delete

%dl.account_information
  %dt Login name
  %dd= @user.login
  - unless @user.dect.blank?
    %dt DECT number
    %dd= @user.dect
  - unless @user.village.blank?
    %dt Village
    %dd= @user.village
  - unless @user.email.blank?
    %dt E-Mail address
    %dd= @user.email

%h2 Productions
%p
  %a{href: new_user_production_path(user_id: @user)} create new production
  - if @productions.count == 0
    %p
      No production defined.
  - else
    %ul.productions
      - @productions.each do |production|
        %li
          = production.title
          %a{href: user_production_path(user_id: @user, id: production.id)} show
          %a{href: edit_user_production_path(user_id: @user, id: production.id)} edit
          %a{href: delete_user_production_path(user_id: @user, id: production.id)} delete
          %a{href: new_user_production_mount_point_path(user_id: @user, production_id: production.id)} create mount point
          %ul.mount_points{id: production.title}
            - production.mount_points.each do |mp|
              %li
                = mp.mount_name
                %a{href: user_production_mount_point_path(user_id: @user, production_id: production.id, id: mp)} show
                %a{href: edit_user_production_mount_point_path(user_id: @user, production_id: production.id, id: mp)} edit
                %a{href: delete_user_production_mount_point_path(user_id: @user, production_id: production.id, id: mp)} delete
