%h3 MQTT
%label{for: 'mqtt_server'} Server:
= f.text_field :mqtt_server
%label{for: 'mqtt_username'} Uername:
= f.text_field :mqtt_username
%label{for: 'mqtt_password'} Password:
= f.text_field :mqtt_password

%h3 Server
%label{for: 'icecast_server'} Push Server:
= f.text_field :icecast_server
%label{for: 'cdn_server'} CDN Server:
= f.text_field :cdn_server


%h3 Text
%label{for: 'welcome_description'} Welcome description:
= f.text_area :welcome_description
