%h3 MQTT
%label{for: 'mqtt_server'} Server:
= f.text_field :mqtt_server
%label{for: 'mqtt_username'} Uername:
= f.text_field :mqtt_username
%label{for: 'mqtt_password'} Password:
= f.text_field :mqtt_password

%h3 Icecast
%label{for: 'icecast_server'} Server:
= f.text_field :icecast_server

%h3 API
%label{for: 'api_key'} API-Key:
= f.text_field :api_key
%a{href: setting_generate_api_key_path(@setting)} generate api key

%h3 Text
%label{for: 'welcome_description'} Welcome description:
= f.text_area :welcome_description
