%h2 Settings

%ul
  %li
    %a{href: edit_setting_path(Setting.current)} edit

%h3 MQTT
- if @setting.mqtt?
  %dl.mqtt
    %dt Server
    %dd
      %code= @setting.mqtt_server
    %dt Username
    %dd
      %code= @setting.mqtt_username
    %dt Paswword
    %dd
      %code= @setting.mqtt_password
- else
  %p.mqtt.warning
    MQTT server is not configured.

%h3 Icecast
%dl.icecast
- if @setting.icecast?
  %dt Server
  %dd
    %code= @setting.icecast_server
- else
  %p.icecast.warning
    Icecast server is not configured.
- if @setting.cdn_server?
  %dt CDN-Server
  %dd
    %code= @setting.cdn_server
- else
  %p.mqtt.warning
    CDN-Server is not configured.


%h3 Text
- if @setting.welcome_description?
  %dl.text
    %dt Welcome description
    %dd= @setting.welcome_description
- else
  %p.welcome_description.warning
    Welcome description not configured.
